[Unit]
Description=PIR HDMI Switch
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/pir_hdmi/pirhdmi.py --pir-pin 11
Restart=on-abort

[Install]
WantedBy=multi-user.target
